/*  your css code here. If applicable */
#yellow{
	background:rgb(255, 255, 0);
	border-width:1px;
	border-color:rgb(0, 255, 0);
	border-style:solid;
}
#red{
	background:rgb(255, 0, 0);
	border-width:1px;
	border-color:rgb(0, 0, 0);
	border-style:solid;
}
#green{
	background:rgb(0, 255, 0);
	border-width:1px;
	border-color:rgb(255, 255, 0);
	border-style:solid;
}

